/* .contenedor_compraVenta {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.contenedor_compraVenta .hijo {
    width: 40rem;
}

form {
    width: 60%;
    background-color: #3b476e;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    font-size: 18px;
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 15px;
} */

:root {
    --texto: rgb(61, 57, 57);
    --cabezera: rgb(252, 206, 120);
    --primario: rgb(236, 216, 179);
    --secundario: rgb(252, 237, 210);
    --terciario: rgb(250, 246, 237);
}

.modal-content {
    width: 26rem !important;
    margin: auto auto !important;
    background-color: rgb(252, 237, 210) !important;
}


.header-modal {
    background-color: rgb(252, 206, 120);

}

.modal-body {
    padding: 10px 30px !important;
}

.label-modal {
    color: var(--texto) !important;
}

.modal-footer {
    background-color: rgb(252, 206, 120) !important;
}

.span-mp-name {
    text-transform: uppercase;
    font-weight: bold;
}