:root {
    --texto: rgb(61, 57, 57);
    --cabezera: rgb(250, 184, 61);
    --primario: rgb(236, 216, 179);
    --secundario: rgb(252, 237, 210);
    --terciario: rgb(250, 246, 237);
}


.contenedor-login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.contenedor-login .banner {
    text-align: center;
}

.contenedor-login .banner h6 {
    margin-top: 10px;
    font-size: 16px;
    color: var(--texto);
}

.contenedor-login .form-container-lavender {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--terciario);
    width: 25rem;
    padding: 3rem 2.5rem 1rem 2.5rem;
    border-radius: var(--bs-border-radius-2xl);
    --bs-border-width: 4px;
    --bs-border-opacity: 1;
    border: var(--bs-border-width) var(--bs-border-style) var(--cabezera);
    box-shadow: .5rem 1rem rgba(0, 0, 0, .1);
}

.contenedor-login .register-form {
    padding: 1rem 2.5rem 1rem 2.5rem;
}

.contenedor-login .form-container-lavender img {
    height: 8.5rem;
    border-radius: 50%;
    object-fit: fill;
    border-top: 4px var(--bs-border-style) var(--cabezera);
    vertical-align: middle;
    margin-top: -7.5rem;
    text-align: center;
}

.contenedor-login .form-container-lavender h2 {
    margin-bottom: 20px;
    color: var(--texto);
    text-align: center;
}


.contenedor-login .form-container-lavender .form_box {
    position: relative;
    width: 100%;
}

.contenedor-login .form-container-lavender .contenedor-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .8rem;
}

.contenedor-login .form-container-lavender .form_box .form_input {
    width: 100%;
    display: block;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    border: 0;
    outline: 2px solid rgb(143, 143, 143);
    overflow: hidden;
    letter-spacing: 0.1rem;
    color: var(--texto);
    font-weight: 400 !important;
}

.contenedor-login .form-container-lavender p {
    color: rgb(61, 57, 57);
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: .8rem !important;
}

.contenedor-login .form-container-lavender a {
    text-decoration: none;
}

.contenedor-login .form-container-lavender button {
    width: 60%;
}

.contenedor-login .form-container-lavender .form_box .form_label {
    position: absolute;
    top: 0.5rem;
    left: .5rem;
    background: white;
    padding: 0 .5rem;
    color: rgb(143, 143, 143);
    letter-spacing: .1rem;
    font-size: 16px;
}

.contenedor-login .form-container-lavender .form_input:focus+.form_label {
    transform: translateY(-1.2rem);
    transition: .2s;
    font-size: 15px;
    color: rgb(143, 143, 143);
    background: linear-gradient(var(--terciario) 56%, white 0);
}

.contenedor-login .form-container-lavender .form_input:not(:placeholder-shown)+.form_label {
    transform: translateY(-1.2rem);
    transition: .2s;
    font-size: 13px;
    background: linear-gradient(var(--terciario) 56%, white 0);
    color: rgb(143, 143, 143);
}


.contenedor-login .form-container-lavender .form_box .pwd-icon {
    color: rgb(143, 143, 143);
    position: absolute;
    transform: translate(17.0rem, .5rem);
}

.contenedor-login .form-container-lavender .form_box .fail {
    color: red;
    margin-left: 0.5rem;
    font-weight: 400;
    font-size: 14px;
}


@media all and (max-width:856px) {

    .contenedor-login {
        display: flex;
        justify-content: center;
        gap: 70px;
    }

    .contenedor-login .form-container-lavender button {
        width: 100%;
    }
}


@media all and (max-width:700px) {

    .contenedor-login .banner img {
        width: 300px;
    }
}