.bg-body-tertiary {
    background-color: transparent !important;
    border: 2px solid rgb(173, 167, 167);
}

.active {
    border-bottom: 3px solid rgb(240, 156, 0);
}

.links {
    text-decoration: none;

}