.root-layout .layout {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px 0 5px 0;
    flex-wrap: wrap;
}

.root-layout .layout a {
    border: 2px solid rgb(61, 57, 57);
    color: rgb(61, 57, 57);
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: var(--bs-border-radius-lg);
}

.root-layout .layout a:hover {
    border-color: var(--primary);
}

.root-layout .layout a.active {
    background: rgb(240, 156, 0);
    color: white;
}

@media all and (max-width:500px) {
    .root-layout .layout {
        display: flex;
        flex-direction: column;
    }
}