 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-image: url('../images/img-background.jpg');
     background-size: cover;
     background-repeat: no-repeat;
 }

 /* POSICION DEL SVG DE AGREGAR MP */
 .css-tj5bde-Svg {
     display: inline-block !important;
     transform: translate(0, 0);
     position: relative !important;
     color: #5b5d61 !important;
 }