.root-layout .breadcrumbs {
    margin: 5px auto 5px 6.2rem;
    padding: 0 20px;
}

.root-layout .breadcrumbs>* {
    color: rgb(61, 57, 57);
    display: inline-block;
    margin-right: 10px;
}

.root-layout .breadcrumbs .crumb:after {
    content: '>';
    margin-left: 10px;
}

.root-layout .breadcrumbs .crumb:last-child:after {
    display: none;

}

.breadcrumbs .crumb a {
    color: rgb(61, 57, 57);
}