:root {
    --texto: rgb(61, 57, 57);
    --cabezera: rgb(252, 206, 120);
    --primario: rgb(236, 216, 179);
    --secundario: rgb(252, 237, 210);
    --terciario: rgb(250, 246, 237);
}

.root-layout .table {
    max-width: 1100px;
    margin: auto auto;
}

.root-layout .table-scroll {

    max-height: 350px;
    /* Establece la altura máxima del contenedor */
    overflow-y: auto;
    /* Añade una barra de desplazamiento vertical cuando sea necesario */
}

.table__header {
    background-color: transparent;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.table__header .mb-8 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

.table__header .mb-8 label {
    background-color: transparent;
    text-align: center;
    margin: 0 !important;
}

.table__header button {
    padding: 10px 5px;
}

.table__header .input-group {
    width: 15rem;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    border: 1px solid var(--cabezera);
}

.table__header .input-group:hover {
    width: 26%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group input {
    width: 100%;
    padding: .3rem .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

table {
    width: 100%;
}

.td_btn {
    padding: 0 !important;
    margin: 0 !important;
    width: 30% !important;
}

.td_btn .dimensionBtn {
    margin: .1rem .1rem !important;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}


td {
    color: var(--texto);
    font-size: 18px;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(252, 206, 120);
    cursor: pointer;
    text-transform: uppercase;
}

tbody tr {
    background-color: var(--primario);
}

tbody tr:nth-last-child(even) {
    background-color: var(--terciario);
}

tbody tr:nth-child(even) {
    background-color: var(--secundario);
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr:hover {
    background-color: rgb(192, 169, 127) !important;
}

.sin-stock span {
    font-weight: bold;
    color: red;
    font-size: 16px;
    border: 1px salmon solid;
    border-radius: 20px;
    background-color: rgb(248, 248, 21);
    padding: 3px 10px;
}

thead th.active,
tbody td.active {
    color: red;
}

thead th:hover {
    color: red;
}



@media all and (max-width:915px) {

    .table__header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }

    .table__header button {
        width: 15rem;
    }

    .table__header .input-group {
        width: 15rem;
    }

    .table__header .input-group:hover {
        width: 18rem;
    }

    .dimensionBtn {
        width: 60%;
        padding: 5px 0 !important;
    }

}

@media all and (max-width:500px) {

    th,
    td {
        padding: 1rem 0;
    }

    .table__header {
        padding: 5px 0;
    }

    .table__header h3 {
        display: none;
    }

    .table__header button {
        width: 100%;

    }

    .table__header .input-group {
        width: 100%;
    }

    .dimensionBtn {
        width: 100%;
        padding: 5px 0 !important;
    }
}